@using AdvancedDatabaseAndORMAssignment1.Models.ViewModel;
@model DeleteSongInPlayListVM;

<h3>Delete Songs From PlayList</h3>
<form method="post" asp-action="DeleteSongsInPlayList">
@*    <select asp-for="PlayListId" asp-items="@Model.PlayLists"></select>
*@
    <button type="submit">Delete</button>
</form>
@*<div>
    @Model.ViewMessage
</div>*@
